<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>GeCoin | Admin Login</title>
</head>
<body>
    <h1 class="center-align">Admin</h1>
    <% if (locals.error) { %>
        <p class="center-align red"><%= locals.error %></p>
    <% } %>
    <div class="container">
        <form method="POST" action="admin/main">
            <label for="username">Username:</label>
            <input type="text" name="username" value="<%= locals.username %>">
            <label for="password">Password:</label>
            <input type='password' name='password' value="<%= locals.password %>">
            <input type='submit' value='Submit'>
        </form>
    </div>
</body>
</html>