<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>SodaCoin | Admin</title>
</head>
<body>
    <% if (locals.users.length == 0) { %>
        <p>There are no users!</p> 
    <% } else { %>
        <ul class="collection">
            <% for (var i = 0; i < users.length; i++) { %>
                <li class="collection-item"> 
                    <details>
                        <summary><%= locals.users[i]["name"] %></summary>
                        <pre><%= JSON.stringify(locals.users[i], undefined, 2) %></pre>
                    </details>
                </li>
            <% } %>
        </ul>
    <% } %>
</body>
</html>